<!DOCTYPE html>
<meta charset="utf-8">


<head>
<style>
  .fancy-title {
    font-size: 24px;
    font-weight: bold;
  }

  #nobel-bar { 
    width: 600px;
    height: 400px;

  }

  .axis {
  font: 10px sans-serif;

  }

 .axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }


</style>

</head>

<body>
    <h2 id="title">title holder</h2>  

    <div id='nobel-bar'></div>

    <svg id='barchart'>
    </svg>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
<script src="static/js/nbviz_core.js" ></script>
<script src="static/js/d3-bar-test.js" ></script>-->

</body>


